.AppDashDoctor {
    background-color: #779EC3;
    height: 120vh;
    display: flex;
    width: 100%;
}

.RightWrapper {
    width: 1100px;
    height: 88%;
    margin: 0px;


}

/* Side Bar*/


.WrapperSidebar {
    justify-content: start;
    width: 100%;
    height: 88%;
    margin-left: 42px;
    margin-top: 25px;
}

.lambangkesehatanimg {
    display: flex;
}

.lambangkesehatanimg img {
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}

.lambangkesehatanimg h4 {
    margin-top: 20px;
    margin-left: 10px;
}

.btnsidebar {
    display: flex;
    padding: 10px 10px;
    gap: 15px;


}

.btnsidebar:hover {
    background: lightskyblue;
    transition: all 0.5s;
    border-radius: 20px;
}

.btnsidebar h5 {
    margin-top: 5px;
}

.iconawesome1 {
    margin-left: 20px;
    width: 50%;

}

.iconawesome1:hover {
    background: lightskyblue;
    transition: all 0.5s;
    border-radius: 5px;
}

.iconawesome2 {
    flex-direction: column;
}

.iconawesome3 {
    flex-direction: column;
    margin-left: 3px;
}

/* Side Bar*/

/* Nav Bar*/

.WrapperNavbar {
    width: 90%;
    height: 10%;
    margin-left: 20px;
    margin-top: 25px;
    display: flex;

}



/* Nav Bar*/

/*Content*/

.WrapperContent {
    width: 90%;
    height: 90%;
    margin-left: 20px;
    margin-top: 25px;

}

.myscrollbar {
    height: 550px;
    position: relative;
    overflow: auto;
}

.word {
    color: black;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 800;
    font-size: 30px;
    text-shadow: 2px 2px wh;
}

.details {
    margin-left: 30px;
    color: #0019FD;
    font-weight: 500;
}

/*Content*/

/*Content Detail Patient */

.infopatient1 {
    margin-left: 15px;
}

.infopatient2 {
    margin-left: 100px;
}

.infopatientbutton {
    align-items: center;
    margin-left: 300px;
}

.infopatientbutton1 {
    margin-right: 10px;
}